# PostgreSQL / PostGIS
DB_NAME=hydro_registry
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# GeoDjango (опционально, если авто-поиск не сработал)
# GDAL_LIBRARY_PATH=C:\Program Files\PostgreSQL\16\bin\libgdal-35.dll
# GEOS_LIBRARY_PATH=C:\Program Files\PostgreSQL\16\bin\libgeos_c.dll
